%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    %p.label
      = f.label :email
    %p.formItem
      = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    %p.label
      = f.label :password
    %p.formItem
      = f.password_field :password, autocomplete: "new-password"
  .field
    %p.label
      = f.label :password_confirmation
    %p.formItem
      = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    %p.label
      = f.label :avatar
    %p
      = f.file_field :avatar, class: "avatarField"
  .actions
    %p
      = f.submit "Submit", class: "submitBtnUp"
